机器学习实战_课后练习/datasets/cifar-10-python.tar.gz
机器学习实战_课后练习/datasets/cifar-10-batches-py/batches.meta
机器学习实战_课后练习/datasets/cifar-10-batches-py/data_batch_1
机器学习实战_课后练习/datasets/cifar-10-batches-py/data_batch_2
机器学习实战_课后练习/datasets/cifar-10-batches-py/data_batch_3
机器学习实战_课后练习/datasets/cifar-10-batches-py/data_batch_4
机器学习实战_课后练习/datasets/cifar-10-batches-py/data_batch_5
机器学习实战_课后练习/datasets/cifar-10-batches-py/readme.html
机器学习实战_课后练习/datasets/cifar-10-batches-py/test_batch
my_VGG16.h5
机器学习实战_课后练习/models/my_ResNet50.ckpt
机器学习实战_课后练习/PTmodel
